venv/
.idea/
library/__pycache__/

library/library/__pycache__/

library/author/__pycache__/
library/author/migrations/__pycache__/
library/author/tests/__pycache__/

library/books/__pycache__/
library/books/migrations/__pycache__/
library/books/tests/__pycache__/

library/borrow_requests/__pycache__/
library/borrow_requests/migrations/__pycache__/
library/borrow_requests/tests/__pycache__/

library/user_app/__pycache__/
library/user_app/migrations/__pycache__/

library/comment/__pycache__/
library/comment/migrations/__pycache__/
